body {
  background: #faefe6
}

p, h1, h2 , h3 {
  font-family: 'Roboto', sans-serif;
}

button {
  font-size: 1.5em;
}

#dropdowns {
  width: 50%;
  margin:auto;
}
@media (max-width: 600px) {
  #skype {
    width: 100% !important;
  }
  #dropdowns {
    width: 100%;
  }
  button {
    font-size: 1em;
  }
  h1 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
}
#logo {
  max-width: 200px;
  margin: auto;
  display: block;
  padding-bottom: 10px;
}

#skype {
  width: 50%;
  margin: auto;
  text-align: right;
  padding-bottom: 10px;
}

/* Taken from https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
